{
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "attributeGroups": [
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_INPUT",
    "$ANGULAR_OUTPUT",
    "$ANGULAR_TWO_WAY_BINDING"
  ],
  "attributeSort": "ASC"
}
